<footer class="main-footer">
    <div class="footer-left">
        Copyright &copy; 2018 <div class="bullet"></div> Made By <a href="https://nauval.in/">Fajar, Raja, Yasmin</a>
    </div>
    <div class="footer-right">

    </div>
</footer>
    </div>
  </div>

<!-- General JS Scripts -->
<script src="assets2/modules/jquery.min.js"></script>
<script src="assets2/modules/popper.js"></script>
<script src="assets2/modules/tooltip.js"></script>
<script src="assets2/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="assets2/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="assets2/modules/moment.min.js"></script>
<script src="assets2/js/stisla.js"></script>

<!-- JS Libraies -->
<script src="assets2/modules/jquery.sparkline.min.js"></script>
<script src="assets2/modules/chart.min.js"></script>
<script src="assets2/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
<script src="assets2/modules/summernote/summernote-bs4.js"></script>
<script src="assets2/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

<!-- Page Specific JS File -->
<script src="assets2/js/page/index.js"></script>

<!-- Template JS File -->
<script src="assets2/js/scripts.js"></script>
<script src="assets2/js/custom.js"></script>
</body>
</html>