<div class="simple-footer">
    Copyright &copy; Stisla 2018
</div>
          </div>
        </div>
      </div>
    </section>
  </div>

<!-- General JS Scripts -->
<script src="assets2/modules/jquery.min.js"></script>
<script src="assets2/modules/popper.js"></script>
<script src="assets2/modules/tooltip.js"></script>
<script src="assets2/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="assets2/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="assets2/modules/moment.min.js"></script>
<script src="assets2/js/stisla.js"></script>

<!-- JS Libraies -->
<!-- Page Specific JS File -->
<!-- Template JS File -->
<script src="assets2/js/scripts.js"></script>
<script src="assets2/js/custom.js"></script>
</body>
</html>